<div class="container">
    <div id="decider_heading"> decider </div>

    <div id="sessions_buttons">
        <%= form_tag('signup', method: 'get') do %>
            <button type='submit'>Sign Up</button>
        <% end %>
        <br>
        <%= form_tag('signin', method: 'get') do %>
            <button type='submit'>Sign In </button>
        <% end %>
        <br>
        <%= form_tag('/auth/google_oauth2', method: 'post') do %>
            <button type='submit'>Login with Google </button>
        <% end %>
    </div>
<div>