<h1> decider! </h1>

Don't have an account?
<%= link_to "Sign Up!", signup_path %>
<br>
Need to log in?
<%= link_to "Sign in!", signin_path %>
<br>

<%= form_tag('/auth/google_oauth2', method: 'post') do %>
    <button type='submit'>Login with Google </button>
<% end %>