<div id="main">
    
    <h3> Create a new task </h3>
    <br>
    <%= render partial: "layouts/errors", locals: {object: @task} %>
    <div id="frm">
        <%= render partial: "tasks" %>
    </div>
</div>