User List

<% for user in @users %>
    <p>
      <%= user.firstname %>
      <%= user.lastname %>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    </p>
<% end %>