<div id="main">
    <% if @user.tasks.empty? %>
        No tasks yet. Create a new task <%= link_to "here", new_task_path %>
    <% else %>
        <br>
        <br>
        <h3>Your tasks: </h3>
        <br>
        <% @user.tasks.each do |task| %>
            <%= link_to "#{task.content}", task_path(task) %>
            <div id="user_hp_button"> <%= button_to "edit", edit_task_path(task), :method => :get %> </div>
            <div id="user_hp_button"> <%= button_to "delete", task_path(task), method: :delete %> </div>
            <br>
        <% end %>
        <br>
    <% end %>
</div>

