<h3> Welcome <%= @user.firstname%> </h3>

<br>
<br> 

<% if @user.tasks.empty? %>
    No tasks yet. Create a new task <%= link_to "here", new_task_path %>
<% else %>
    Your tasks: 
    <% @user.tasks.each do |task| %>
        <%= task.content %>
    <% end %>
<% end %>

