/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: lightskyblue;
    font-family: 'Cinzel', serif;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#navbar {

}

.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

.container #decider_heading {
    display: flex;
    font-size: 7em;
    font-family: 'Spirax', cursive;
    position: relative; 
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container #sessions_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button[type=submit] {
    background-color: rgb(100, 149, 237);
    border: 0 none;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 1.25em;
    padding: .5em;
    margin: .5em;
}

input[type=submit] {
    background-color: rgb(100, 149, 237);
    border: 0 none;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    margin: .5em;
}

#main {
    line-height: 400px;
    text-align:center; 
    vertical-align:middle;
}

#frm {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px; 
}


